@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
    
   
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 30px;
    font-size: 15px;
    margin-top: 10%;
    font-family: 'Lexend Deca';
    padding-right: 0%;
    margin-bottom: 40%;
}

.main {
    display: grid;
    grid-template-columns: repeat(3,1fr);   
    grid-template-rows: 550px;   
    width: 60%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;

}

.header {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 30px;
}

.img {
    padding-top: 40px;
}

.one {
    background-color: hsl(31, 77%, 52%);
    padding: 15%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
     
}

.one >a {
    color: hsl(31, 77%, 52%);
}

.two {
    background-color: hsl(184, 100%, 22%);
    padding: 15%;
       
}
.two >a {
    color: hsl(184, 100%, 22%);
}

.three {
    background-color: hsl(179, 100%, 13%);
    padding: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
}

.three >a {
    color: hsl(179, 100%, 13%);
}


.button {
    font-family: 'Lexend Deca';
    text-decoration:hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 10%;
    padding: 5% 15%;
    border-radius: 40px;
    text-decoration: none;
}

.button:hover {
    color:hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    font-family: 'Lexend Deca'; 
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 1280px) {
    .main {
        width: 60%;
        grid-template-columns: 1fr;
        margin: auto;
    }
    .one {
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .three {
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;        
    }

    .button:hover {
        color:hsl(0, 0%, 95%);
        border: 2px solid hsl(0, 0%, 95%);
        background-color: transparent;
    }

    .attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 15px;
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
} 